body {  
    background-color: #ebedef;  
    
}
.parent-box{
  width: 300px;            
      border: 0px ;   
      padding: 20px;           
      margin: 30px auto;         
      background-color: #f9f9f9;
       width: 200px;
    border: 2px solid blue;
    padding: 10px;
    margin-left: 0;  
    text-align: center;


}
.block-box{
    width: 100px;
    height: 50px;
    margin-left: 10px;
    background-color:rgb(125, 171, 223);
    border: 2px solid #000000;
    border-color: blue;
    border-radius: 10%;
    margin: 20px auto;
    padding: 20px;

}
.inline-box{
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #bdb251;
    
    border: 2px solid #000000;
    border-color:rgb(234, 234, 16);
    border-radius: 10%;
    margin: 20px;
    padding: 20px;
}